<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/courses.css">
    <title>University Dz</title>
</head>

<body>
    <div class="side-menu">
        <div class="brand-name">
            <a href="/home">
            <h1>University Dz</h1>
        </a>
        </div>
        <div class="options">
            
            
            <ul>
                <li><a href="/home/students"><img src="/images/reading-book (1).png" alt="">&nbsp;<span>Students</span></a></li>
                <li><a href="/home/professors"><img src="/images/teacher2.png" alt="">&nbsp;<span>Teachers</span></a></li>
                <li class="active"><a href="/home/courses"><img src="/images/dashboard (2).png" alt="">&nbsp;<span>Courses</span></a></li>
                <li><a href="/home/departements"><img src="/images/school.png" alt="">&nbsp;<span>Departments</span></a></li>
                <li><a href="/home/groupes"><img src="/images/school.png" alt="">&nbsp;<span>Groupes</span></a></li>
            </ul>
            
            

        </div>
        <div class="text-center text-danger mb-3">
            <% if (message) { %>
              <p><%= message %></p>
            <% } %>
          </div>
    </div>
    <div class="container">
        <div class="header">
            <div class="nav">

                <div class="user">
                    <a href="/home/courses/create" class="btn1">Add New</a>

                </div>
            </div>
        </div>
        <div class="content">
            
            <div class="content-2">
                <div class="Students">
                    <div class="title">
                        <h2>Courses</h2>
                    </div>
                    <% if (courses && courses.length > 0) { %>
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Coifficient</th>
                            <th>Semestre</th>
                            <th>Year</th>
                            <th>Delete</th>
                            
                        </tr>
                        <% courses.forEach(course => { %>
                        <tr>
                            
                            <td><%= course.course_name %></td>
                            <td><%= course.course_credits %></td>
                            <td><%= course.semestre%></td>
                            <td><%= course.studying_year %></td>
                            <td><a href="/home/courses/<%= course.course_id %>/delete" class="btn">Delete course</a></td>
                        </tr> 
                        <% }); %>
                    </table>
                    <% } else { %>
                        <p>No courses found.</p>
                    <% } %>
                </div>
                
            </div>
        </div>
    </div>
</body>

</html>