<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/departments.css">
    <title>Professors</title>
</head>

<body>
    <div class="side-menu">
        <div class="brand-name">
            <a href="/home">
            <h1>University Dz</h1>
        </a>
        </div>
        <div class="options">
            <ul>
                <li ><a href="/home/professors"><img src="/images/reading-book (1).png" alt="">&nbsp;<span>Students</span></a></li>
                <li><a href="/home/professors"><img src="/images/teacher2.png" alt="">&nbsp;<span>Teachers</span></a></li>
                <li ><a href="/home/courses"><img src="/images/dashboard (2).png" alt="">&nbsp;<span>Courses</span></a></li>
                <li><a href="/home/departements"><img src="/images/school.png" alt="">&nbsp;<span>Departments</span></a></li>
                <li class="active"><a href="/home/groupes"><img src="/images/school.png" alt="">&nbsp;<span>Groupes</span></a></li>
            </ul>
            

        </div>
     
    </div>
    <div class="text-center text-danger mb-3">
        <% if (message) { %>
          <p><%= message %></p>
        <% } %>
      </div>
    <div class="container">
        <div class="content">
            <div class="nav">

                <div class="user">
                    <a href="/home/professors/<%= professor_id %>/add_groupe" class="btn1">Add New</a>

                </div>
            </div>
            <div class="content-2">
                <div class="Students">
                    <div class="title">
                        <h2>groupes</h2>
                    </div>
                    <% if (groupes && groupes.length > 0) { %>
                    <table>
                        <tr>
                            <th>Groupe Name</th>
                            <th>delete</th>
                        </tr>
                        <% groupes.forEach(groupe => { %>
                        <tr>
                            <td><%= groupe.groupe_name %></td>
                            <td><a href="/home/professors/<%= professor_id %>/groupes/<%= groupe.groupe_id %>/delete" class="btn">delete groupe</a></td>
                        </tr>
                        <% }); %>
                    </table>
                    <% } else { %>
                        <p>No groupes found.</p>
                    <% } %>
                </div>
                

            </div>
        </div>
    </div>
</body>

</html>