<!-- add_student.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/add_student.css">

    <title>update Student</title>
    <!-- Add your CSS stylesheets here -->
</head>
<body>
    <div class="text-center text-danger mb-3">
        <% if (message) { %>
          <p><%= message %></p>
        <% } %>
      </div>
    <form action="/home/students/<%= data.id %>/update" method="POST">
        <input type="hidden" name="_method" value="PUT">
        <div>
            <label for="student_name">Name:</label>
            <input type="text" id="student_name" name="student_name" required value="<%= data.student_name %>">
        </div>
        <div>
            <label for="student_email">Email:</label>
            <input type="email" id="student_email" name="student_email" required value="<%= data.student_email %>" >
        </div>
        <div>
            <label for="student_address">Address:</label>
            <input type="text" id="student_address" name="student_adress" required value="<%= data.student_adress %>">
        </div>
        <div>
            <label for="student_wilaya">Wilaya:</label>
            <input type="text" id="student_wilaya" name="student_wilaya" required value="<%= data.student_wilaya %>">
        </div>
        <div>
            <label for="student_bday">Date of Birth:</label>
            <input type="date" id="student_bday" name="student_bday" required value="<%= data.student_bday %>">
        </div>
        <div>
            <label for="student_phone_number">Phone Number:</label>
            <input type="tel" id="student_phone_number" name="student_phone_number" required value="<%= data.student_phone_number %>">
        </div>
        <div>
            <label for="student_study_year">Study Year:</label>
            <input type="text" id="student_study_year" name="study_year" required value="<%= data.student_study_year %>">
        </div>
        <div>
            <label for="student_groupe">Group:</label>
            <input type="text" id="student_groupe" name="study_groupe" required value="<%= student_groupe %>">
        </div>
        <div>
            <label for="student_department">Department</label>
            <input type="text" id="student_department" name="departement" required value="<%= student_departement %>">
        </div>
        <!-- Add more fields as needed -->
        <button type="submit">Update Student</button>
    </form>

</body>
</html>
